openapi: 3.2.0
info:
  title: Figment Partners - Ethereum API
  version: 2.0.0+1190.1
  termsOfService: https://figment.io/staking-terms-of-use
servers:
- url: https://api.figment.io
tags:
- name: Partners - Ethereum
paths:
  /partners/ethereum/validators:
    get:
      summary: List Ethereum Validators
      tags:
      - Partners - Ethereum
      operationId: partner_ethereum_validators
      parameters:
      - name: network
        in: query
        schema:
          type: string
          enum:
          - mainnet
          - hoodi
        example: hoodi
        required: true
      - name: page
        in: query
        required: false
        style: deepObject
        schema:
          type: object
          properties:
            number:
              type: integer
              example: 2
              minimum: 1
              description: The page number.
            size:
              type: integer
              example: 10
              minimum: 1
              maximum: 100
              description: Number of items to include in the response.
      responses:
        '200':
          description: Tracked validators list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/partners_tracked_validator'
                  meta:
                    $ref: '#/components/schemas/pagination'
        '401':
          description: Invalid API key
components:
  schemas:
    pagination:
      type: object
      properties:
        pagination:
          type: object
          properties:
            current_page:
              type: integer
              example: 1
            total_pages:
              type: integer
              example: 10
            total_item_count:
              type: integer
              example: 1000
            has_next:
              type: boolean
              example: true
    partners_tracked_validator:
      type: object
      properties:
        pubkey:
          type: string
          example: '0xd1ef8d468ef53d82368d2026e321ab2c6d44f44c33b7b9f22369bf6dcf37fb0208f82dd6b485325ce1bbf5aec7ad45bb'
          description: The pubkey for the validator. Must be prefixed with `0x`.
        withdrawal_address:
          type: string
          example: '0xE40F80618324C814cD444434670a44ba4583aE38'
x-readme:
  explorer-enabled: false
  proxy-enabled: false
  headers:
  - key: x-api-key
    value: your-api-key-here
