openapi: 3.2.0
info:
  title: Figment Blockfrost Projects API
  version: 2.0.0+1190.1
  termsOfService: https://figment.io/staking-terms-of-use
servers:
- url: https://api.figment.io
tags:
- name: Blockfrost Projects
paths:
  /cardano/blockfrost_projects:
    get:
      summary: Get Blockfrost Projects
      tags:
      - Blockfrost Projects
      operationId: get-blockfrost-projects
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: object
          properties:
            number:
              type: integer
              example: 2
              description: Current page number
            size:
              type: integer
              example: 10
              description: Number of results per page
      responses:
        '200':
          description: List of Blockfrost projects
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/meta'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/blockfrost_project'
        '400':
          description: User error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/staking_api_error'
        '401':
          description: Invalid API key
    post:
      summary: Add Blockfrost Project
      tags:
      - Blockfrost Projects
      operationId: add-blockfrost-project
      parameters: []
      responses:
        '201':
          description: Added
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/blockfrost_project'
        '422':
          description: Unprocessable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/staking_api_error'
        '500':
          description: System error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/staking_api_error'
        '401':
          description: Invalid API key
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                network:
                  type: string
                  example: preprod
                project_id:
                  type: string
                  example: my-project-id
  /cardano/blockfrost_projects/{id}:
    delete:
      summary: Remove Blockfrost Project
      tags:
      - Blockfrost Projects
      operationId: remove-blockfrost-projects
      parameters:
      - name: id
        in: path
        required: true
        example: 123
        schema:
          type: string
      responses:
        '204':
          description: Removed
        '500':
          description: System error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/staking_api_error'
        '401':
          description: Invalid API key
components:
  schemas:
    staking_api_error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              nullable: false
            details:
              type: array
              items:
                type: object
                properties:
                  param:
                    type: string
                  message:
                    type: string
                  context:
                    type: object
          required:
          - message
      required:
      - error
    blockfrost_project:
      type: object
      properties:
        id:
          type: string
          nullable: false
        network:
          type: string
          nullable: false
        project_id:
          type: string
          nullable: false
        created:
          type: string
          nullable: false
    meta:
      type: object
      properties:
        pagination:
          type: object
          properties:
            current_page:
              type: integer
              example: 1
            total_pages:
              type: integer
              example: 10
            total_item_count:
              type: integer
              example: 100
x-readme:
  explorer-enabled: false
  proxy-enabled: false
  headers:
  - key: x-api-key
    value: your-api-key-here
