openapi: 3.2.0
info:
  title: Figment Ethereum API
  version: 2.0.0+1190.1
  termsOfService: https://figment.io/staking-terms-of-use
servers:
- url: https://api.figment.io
tags:
- name: Ethereum
paths:
  /ethereum/validators:
    post:
      summary: Create Validators
      tags:
      - Ethereum
      operationId: create-validators
      parameters: []
      responses:
        '201':
          description: Created validators
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/validator_provision_response'
                  meta:
                    $ref: '#/components/schemas/validators_create_meta'
                example:
                  data:
                  - network: hoodi
                    pubkey: '0x8fc7b098767d6b45f431ac820f6884f6f74bbebee4e6f30456bbcf48a280248307a8260f2913a27c076f2f0c64c67aad'
                    status: provisioned
                    withdrawal_address: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    withdrawal_credentials: '0x010000000000000000000000e40f80618324c814cd444434670a44ba4583ae38'
                    net_fee_payout_address: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    fee_recipient_address: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    region: ca-central-1
                    deposit_data:
                      deposit_data_root: '0xfd997ecea9711498990181f0e3f8426b1c9528e61a8fbcc999db5fb3b3d6ca4b'
                      deposit_message_root: '0xae8ccf82724a48014e7f694c3ee329210e435059d73a4fa4da2bcd825ced381e'
                      fork_version: '0x01017000'
                      signature: '0x802bec470e333c380a0c530361e76cfa27f662a411d993a663aa080070601411aae1263ccbd8f812199b1fff091e20fc0b7e793c1d0313d36d27040588d578fd8b6029be264cf79533132d1df0d40dc9ce5ba159fe4c936e9c4b4c9bf2988a29'
                      figment_signature: '0x308188024200e8a18a258b03149255a0fc4a62a6c51b99ce38c8a33b91b57d76ca1f37484a18d1efa2c2bc6182ad284ff8aad076248f27af179c0b86a6542fa67185aa1cc9f50e02420147dacbaf9cdae0638d44b824f199d9f8047d5eb9ae4ee3dfe9d1860ba7582ac4be464d46647d7ed3adac83789ec88f2b6d4ac426d90126076589291d83735c63a3'
                      deposit_cli_version: 2.7.0
                      amount: 32000000000
                    status_history:
                      events:
                      - status: provisioned
                        changed_at: '2024-02-22T14:14:07.848Z'
                    status_estimates:
                      estimated_active_at: null
                      estimated_exit_at: null
                      estimated_withdrawal_at: null
                    on_demand_exit:
                      requested_at: null
                      approved_at: null
                      submitted_at: null
                      request_id: null
                    exit_message: null
                    staking_request:
                      id: f9764269-ddb8-451f-9f81-fd460e3e2f14
                      created_at: '2024-02-22T14:14:07.848Z'
                  meta:
                    staking_request:
                      id: f9764269-ddb8-451f-9f81-fd460e3e2f14
                      created_at: '2024-02-22T14:14:07.848Z'
                      amount_wei: '32000000000000000000'
                      withdrawal_address: '0xE40F80618324C814cD444434670a44ba4583aE38'
                      network: hoodi
                      region: ca-central-1
                    staking_transaction:
                      from: '0xE40F80618324C814cD444434670a44ba4583aE38'
                      to: '0xA627f94a8F94E4713d38F52aC3a6377B0a111d47'
                      amount_wei: '32000000000000000000'
                      contract_call_data: '0x4f498c730000000000000000000000000000000000000000000000000000000000000080000000000000000000000000000000000000000000000000000000000000012000000000000000000000000000000000000000000000000000000000000001a000000000000000000000000000000000000000000000000000000000000002600000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000308fc7b098767d6b45f431ac820f6884f6f74bbebee4e6f30456bbcf48a280248307a8260f2913a27c076f2f0c64c67aad00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000020010000000000000000000000e40f80618324c814cd444434670a44ba4583ae38000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000060802bec470e333c380a0c530361e76cfa27f662a411d993a663aa080070601411aae1263ccbd8f812199b1fff091e20fc0b7e793c1d0313d36d27040588d578fd8b6029be264cf79533132d1df0d40dc9ce5ba159fe4c936e9c4b4c9bf2988a290000000000000000000000000000000000000000000000000000000000000001fd997ecea9711498990181f0e3f8426b1c9528e61a8fbcc999db5fb3b3d6ca4b'
                      unsigned_transaction_hashed: '0x3ac39ee1d324ed9816a8de4fc5f41d071bb2e522bac1fa9ea85684f6911977c4'
                      unsigned_transaction_serialized: '0x02f902d9824268058459682f0084ce33ae928305dc8f94a627f94a8f94e4713d38f52ac3a6377b0a111d478901bc16d674ec800000b902a44f498c730000000000000000000000000000000000000000000000000000000000000080000000000000000000000000000000000000000000000000000000000000012000000000000000000000000000000000000000000000000000000000000001a000000000000000000000000000000000000000000000000000000000000002600000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000308fc7b098767d6b45f431ac820f6884f6f74bbebee4e6f30456bbcf48a280248307a8260f2913a27c076f2f0c64c67aad00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000020010000000000000000000000e40f80618324c814cd444434670a44ba4583ae38000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000060802bec470e333c380a0c530361e76cfa27f662a411d993a663aa080070601411aae1263ccbd8f812199b1fff091e20fc0b7e793c1d0313d36d27040588d578fd8b6029be264cf79533132d1df0d40dc9ce5ba159fe4c936e9c4b4c9bf2988a290000000000000000000000000000000000000000000000000000000000000001fd997ecea9711498990181f0e3f8426b1c9528e61a8fbcc999db5fb3b3d6ca4bc0'
                      max_gas_wei: '1328940220021646'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                title: 0x01 Validators
                properties:
                  network:
                    type: string
                    example: hoodi
                    enum:
                    - mainnet
                    - hoodi
                    description: The network on which validators will be created.
                  validators_count:
                    type: integer
                    example: 10
                    description: The number of validators that need to be created.
                  withdrawal_address:
                    type: string
                    example: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    description: An ETH wallet address used for the withdrawals credentials of the validators. This is the address that will receive consensus rewards and unstaked ETH after exiting.
                  funding_address:
                    type: string
                    example: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    description: An ETH wallet address that holds the ETH to be staked and that will sign the staking transaction. If not specified, `withdrawal_address` will be used.
                  fee_recipient_address:
                    type: string
                    example: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    description: An ETH wallet address that will receive the execution layer rewards. If not specified, `withdrawal_address` will be used.
                  region:
                    type: string
                    example: ca-central-1
                    description: The geographic region where the validator will be created.
                    enum:
                    - ca-central-1
                    - eu-west-1
                  credentials_prefix:
                    type: string
                    example: '0x01'
                    description: Prefix to use for withdrawal_credentials. Defaults to '0x01'.
                    enum:
                    - '0x01'
                required:
                - network
                - withdrawal_address
                - validators_count
              - type: object
                title: 0x02 Validators (Pectra)
                properties:
                  network:
                    type: string
                    example: hoodi
                    enum:
                    - mainnet
                    - hoodi
                    description: The network on which validators will be created.
                  amount:
                    type: integer
                    example: 64
                    description: Amount in ETH to initially deposit to the validator.
                  withdrawal_address:
                    type: string
                    example: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    description: An ETH wallet address used for the withdrawals credentials of the validators. This is the address that will receive consensus rewards and unstaked ETH after exiting.
                  funding_address:
                    type: string
                    example: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    description: An ETH wallet address that holds the ETH to be staked and that will sign the staking transaction. If not specified, `withdrawal_address` will be used.
                  fee_recipient_address:
                    type: string
                    example: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    description: An ETH wallet address that will receive the execution layer rewards. If not specified, `withdrawal_address` will be used.
                  region:
                    type: string
                    example: ca-central-1
                    description: The geographic region where the validator will be created.
                    enum:
                    - ca-central-1
                    - eu-west-1
                  credentials_prefix:
                    type: string
                    example: '0x01'
                    description: Prefix to use for withdrawal_credentials. Defaults to '0x01'.
                    enum:
                    - '0x02'
                required:
                - network
                - withdrawal_address
                - credentials_prefix
                - amount
    get:
      summary: Get Validators
      tags:
      - Ethereum
      operationId: get-validators
      parameters:
      - name: network
        in: query
        schema:
          type: string
          enum:
          - mainnet
          - hoodi
        example: hoodi
        required: true
      - name: withdrawal_address
        in: query
        required: false
        schema:
          type: string
        description: The validator's withdrawal address. Must be prefixed with `0x`.
        example: '0xE40F80618324C814cD444434670a44ba4583aE38'
      - name: groups
        in: query
        required: false
        schema:
          type: string
        description: Filter using comma-separated group uuids.
        example: be982d21-ff93-4092-b56a-f40bac865400,a0ba2333-c541-41f0-ad89-e29a268a3ee5
      - name: region
        in: query
        schema:
          type: string
          enum:
          - ca-central-1
          - eu-west-1
        required: false
        example: ca-central-1
        description: The validator's geographic region. Only for Figment validators.
      - name: status
        in: query
        schema:
          type: string
          enum:
          - provisioned
          - funding_requested
          - deposited_not_finalized
          - deposited
          - pending_initialized
          - pending_queued
          - active_exiting
          - active_ongoing
          - active_slashed
          - exited_slashed
          - exited_unslashed
          - withdrawal_done
          - withdrawal_possible
        required: false
        example: active_ongoing
        description: The current validator's status. See https://docs.figment.io/docs/lifecycle-eth-validator.
      - name: net_fee_payout_address
        in: query
        schema:
          type: string
        required: false
        example: '0xE40F80618324C814cD444434670a44ba4583aE38'
        description: The ETH wallet address that receives the net execution layer rewards (when they go through a fee splitting smart contract).
      - name: staking_request_id
        in: query
        schema:
          type: string
        required: false
        example: f8bd4623-39ed-46ec-8518-991792665e56
        description: The ID associated to the request for a set of valdiators.
      - name: credentials_prefix
        in: query
        schema:
          type: string
          enum:
          - '0x01'
          - '0x02'
        required: false
        example: '0x02'
        description: Filter for withdrawal_credentials field
      - name: include_fields
        in: query
        required: false
        style: form
        explode: false
        schema:
          type: array
          description: A comma-separated list of additional objects to include in the response.
          items:
            type: string
            enum:
            - deposit_data
            - status_history
            - status_estimates
            - on_demand_exit
            - exit_message
            - staking_request
            - balances
          example:
          - deposit_data
          - status_history
          - status_estimates
          - on_demand_exit
          - exit_message
          - staking_request
          - balances
      - name: page
        in: query
        required: false
        style: deepObject
        schema:
          type: object
          properties:
            number:
              type: integer
              example: 2
              minimum: 1
              description: The page number.
            size:
              type: integer
              example: 10
              minimum: 1
              maximum: 100
              description: Number of items to include in the response.
      responses:
        '200':
          description: Validators list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/validator'
                  meta:
                    $ref: '#/components/schemas/pagination'
                example:
                  data:
                  - id: 29d3a221-8de7-4874-9973-35ac1e70b87b
                    network: hoodi
                    pubkey: '0xb121633094a5e75b886eeba797d43e80e4a6003462921f175aed2f112a460d09447f3c484f067c13b100b763070857b3'
                    withdrawal_address: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    withdrawal_credentials: '0x010000000000000000000000e40f80618324c814cd444434670a44ba4583ae38'
                    net_fee_payout_address: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    fee_recipient_address: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    status: deposited
                    region: ca-central-1
                    index: null
                    staking_request:
                      id: 817c04a2-3d5b-4222-81c8-2de77f0be7db
                      created_at: '2023-10-17T18:35:30Z'
                    status_history:
                      events:
                      - status: provisioned
                        changed_at: '2023-10-17T18:35:31Z'
                      - status: deposited_not_finalized
                        changed_at: '2023-10-17T20:38:36Z'
                      - status: deposited
                        changed_at: '2023-10-17T20:51:36Z'
                    deposit_data:
                      signature: '0xb7a8703d0ff4865174525c760509a18c5cdc4a321612d865b995d9ba60a9519703d3f7be1527e89041dbea886cb3b26a0d1a13976405b93301cdb16a54258ec3ac891e738ad73e68c6a6a09b286f8c8c71005eb8e55d144ee59fa7c311ac3dea'
                      figment_signature: '0x308187024201cc42b16a0264b3853e123034f21ef7fc1d75b96bc8ae13427836475838c447f90e19a8e3926fe3d20bc91da4d720f886ef3eb3f35ed164674bb6cab2c216329c2002411392c3c6a70bf5f3df0ed3d092d28dbed24933d4ab150ec1ee60cba79d72d374572a04161d5f47be6485353fd78a4c04cc4f3a7bdcc9e3ae749419cc35bc3f6a13'
                      deposit_data_root: '0x8d0b864a077b06044d2336264aaf8efbd03dd61ab0a8074bfb811b7f5c10146e'
                      deposit_message_root: '0x5163474c33dcf5b6fb0bafcaa6a1edbe264de7c9eca6dc5358bee6c21bfc2fef'
                      fork_version: '0x01017000'
                      amount: 32000000000
                      deposit_cli_version: 2.7.0
                    status_estimates:
                      estimated_active_at: '2023-10-18T16:21:20Z'
                      estimated_exit_at: null
                      estimated_withdrawal_at: null
                    on_demand_exit:
                      requested_at: null
                      approved_at: null
                      submitted_at: null
                      request_id: null
                    exit_message:
                      encrypted_value: null
                      fork_version: null
                    balances:
                      actual: '0.0'
                      pending_deposit: '32.0'
                      pending_topups: '0.0'
                      pending_withdrawals: '0.0'
                  - id: 2284ad6b-d2f6-4748-aa77-31ea5a0fa192
                    network: hoodi
                    pubkey: '0xa605e932e87ffa1427623e71cc047531ea0ac9b770e243969e32b6064601eed9e1a6c8106a5f28fa18f3bddcb74464cb'
                    withdrawal_address: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    withdrawal_credentials: '0x010000000000000000000000e40f80618324c814cd444434670a44ba4583ae38'
                    net_fee_payout_address: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    fee_recipient_address: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    status: active_ongoing
                    region: eu-west-1
                    index: 1392316
                    staking_request:
                      id: a0a0351b-f2c4-483a-a389-3cdabb439cf9
                      created_at: '2023-11-15T22:07:19Z'
                    status_history:
                      events:
                      - status: provisioned
                        changed_at: '2023-11-15T22:07:20Z'
                      - status: deposited_not_finalized
                        changed_at: '2023-11-15T22:08:24Z'
                      - status: deposited
                        changed_at: '2023-11-15T22:23:24Z'
                      - status: pending_queued
                        changed_at: '2023-11-16T13:55:12Z'
                      - status: active_ongoing
                        changed_at: '2023-11-16T14:33:36Z'
                    deposit_data:
                      signature: '0x8f6f942d0dc5acfa2a3b48d5638b7fda36d50f735fbe8c1cd45bf549db0071423fd83a5b287f1f076f57d756cc220c85167751b25b9299f861b6fbd88856fde52290dbbcddcafff422480ecb49d4bfbe75cc08ad054579c521aae9ff929e4b67'
                      figment_signature: '0x30818702420167f053e387ec56437215ca5ffbd864ddf24dfbed78b3966371c69197d13d069c096e07ab40428c931966552f8c78948ec78857c3abb97333eca8dbd8f398257259024117d4525304051948043d64fea61169136a7a5a1a7b3c7312bab3dc7346c458a918c36ad03ea81392f86d01ab9054a532c5ee3d88318f8ea6cfd97973699e2c17aa'
                      deposit_data_root: '0x96717ebace8e5840854dab131da53fba9ffcb5e6effb4a22af1ab9822a6de968'
                      deposit_message_root: '0xc9b9933c7671c98c6d1a7be513d655180643e92edd98d6048658f308a8e1c9c7'
                      fork_version: '0x01017000'
                      amount: 32000000000
                      deposit_cli_version: 2.7.0
                    status_estimates:
                      estimated_active_at: '2023-11-16T11:21:36Z'
                      estimated_exit_at: null
                      estimated_withdrawal_at: null
                    on_demand_exit:
                      requested_at: null
                      approved_at: null
                      submitted_at: null
                      request_id: null
                    exit_message:
                      encrypted_value: x3rqWsJskHPwfaSG9NZJyOrzkXyxrxA+6Td6D6JYj1cXPxuzgn8XN8NIUhxTI+APv4ddYSvl8mokxMifLhfBNggnKxZsuWCUSMJ11P2lwCpmTROzhuWXxVKviqKrNeIiZBH4wi2SD+KdmvcHcPF3lkrNNtBaPGhXr+1oVpUv8unKCQHnBohcmxJvPv/2V54SHzHKZyjTXnzzdpGgSvqW0hppXhpF3PFnL79TIXxkWsco4nS8B7XEAwpYdm/vtu/CXhl5opl7/oR0C93j5Oj/A/G3+T4UONWcFRvvcJNdo+hsbJ+oXAcruad2nvgs74JENrGecUw6+XsQbRYkj4ygYYeHDOavyFgBfbwCW7Yu/uacmq10a5cpRRZLy1uelbioTqV+WQfO3xaU03zzTjicSFR7Njo36Sc7ebtRB6/h6W+Gv1T3T+PjovJcKbZOLMd/F6ei6qK8XtacsRqKtKuay1qQXUJ5hQDmy5j0vfbMAkLEvpmecZcgbwGuCSpDrLwO3q+ka+GodEkJk4zKea/mU6EPwJdnuLSJsfCEdol9IyhnDpT9kxcLJjW9+vnVJwkPSMJ8eFlPi+OGfH8qBkzKA/fdxxyc+dPMBzSjKhoJT+ifVIB5GKv9PdbAzUS1z+exGLJC8Z3ZW++5PF8O1MfTiJrV0aBS7j0CfD5boh1OS4Y=
                      fork_version: '0x04017000'
                    balances:
                      actual: '33.2'
                      pending_deposit: '0.0'
                      pending_topups: '1.5'
                      pending_withdrawals: '0.5'
                  - id: 8a075b89-c1f7-4381-a158-8ee866bf68bc
                    network: hoodi
                    pubkey: '0x94418ea2b6d0b43f728fd85e0b5e452b554af5953788cde8ad8c653c6c6dc32369fc4d8615f03bcf1a330b9ee2477b03'
                    withdrawal_address: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    withdrawal_credentials: '0x010000000000000000000000e40f80618324c814cd444434670a44ba4583ae38'
                    net_fee_payout_address: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    fee_recipient_address: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    status: active_exiting
                    region: ca-central-1
                    index: 1122516
                    staking_request:
                      id: a428d279-27b3-482b-82f4-510e7b52adb5
                      created_at: '2023-10-17T18:17:11Z'
                    status_history:
                      events:
                      - status: provisioned
                        changed_at: '2023-10-17T18:17:11Z'
                      - status: funding_requested
                        changed_at: '2023-10-17T20:35:22Z'
                      - status: deposited
                        changed_at: '2023-10-17T20:51:36Z'
                      - status: pending_queued
                        changed_at: '2023-10-18T13:29:36Z'
                      - status: active_ongoing
                        changed_at: '2023-10-19T06:27:12Z'
                      - status: active_exiting
                        changed_at: '2023-10-20T17:26:24Z'
                    deposit_data:
                      signature: '0xb6db15d9859eb657dc7836ca8b45775a4e064c0651958425ba57bbe51cd5d75319fe9642d3b170503ad48dc2212bcde70ae0e14d8b2ef9833dcb852a0b9c0a7ad8cb908a507426be77e5e549d6008484ef8c831cd707dff88888fa614bf03f87'
                      figment_signature: '0x308188024201f5ab9f11e1543adaefb94884c2128fa3261550562df9bf27aed076c0115f9879e0e919cc5e4283bb37e7b1df51314f1d349d95108f8a2a81f0d138d4c284f3f095024201b5a416d40579256070795d1c6cea2a02ad65bcd088d8152c0c62ea9dfe90e00e750c01c8ea14420d64a739055bad95f8d0ffa4d35d4c02bb96fc8bb9b8135d0223'
                      deposit_data_root: '0x86c1627b3353edd7aa56d84418b8a258820be0761a765c74920269297042df0d'
                      deposit_message_root: '0x648c94f84c8f14ea4edd1b35557dd5715bba282cae987ca34eb2bafe6fdea792'
                      fork_version: '0x01017000'
                      amount: 32000000000
                      deposit_cli_version: 2.7.0
                    status_estimates:
                      estimated_active_at: '2023-10-19T10:09:36Z'
                      estimated_exit_at: '2023-10-19T10:08:00Z'
                      estimated_withdrawal_at: '2023-10-23T14:49:36Z'
                    on_demand_exit:
                      requested_at: '2023-10-20T17:10:52Z'
                      approved_at: '2023-10-20T17:11:05Z'
                      submitted_at: '2023-10-20T17:22:00Z'
                      request_id: 9b41a113-44c5-4b6a-8493-78e6046b830e
                    exit_message:
                      encrypted_value: gk+W8XGB9bXtueP02sHh2kz4gSsj8T06sd/yXRnJM0oUAo0pvmKNf2pk3rqcLMWfPTrTZmx32BzN/8JRN+WpfyUrdtPVuSYMsyVWxWGIYeLXvBSuZoyzYfPMOXf8eg6CLz0RPZovoYood2M9aTFT2/3StyWO/Pq6aZus0luhksijwPftuAkErQgC09NHRgeb7vyhd3ZYiHPKKYUAjEIR3wllcxhFavTAFA8f1ImbZIZGRVkoykiswhcVjIjAFMSAah18IXSWRL2rDSKZvbDN6ZgKHg+J33LF55SihheOPaCNJe0j2xGczWGzXP4HzqOnlSS1aiz2XGtcaHg99be7wOduKVS4+cEaTX8JmMxKKc1L5kJ1kdOrqP9VRKa7pIkOhZr3OCDtrDaN5Mr3e+dfk4EsN8oMcqif2sLBVZoe1end0bR/3nhjGE24trrs4x8ljqE+xjMEM6JBLyWI4IhXZMxR6N3IXoHT1NPnq9lWYdKnqpOkhRkcUMNVuyHbXdh9ZD3VRLoL6eFpI+6GIbmlwOlbHMGf1pfND20NEEyyfa8F6krh+uhrga5FYg9W7/fuA+FjDEQCqe2ZU7usWQBWjJ4fCw3KHV3eMcH9jhxICHudicoxz8CQmcC32+iCYi6/ri+OCNkdEbqLkeJuFHZv1gsXEApjRdde9xq1wmm+Uvg=
                      fork_version: null
                    balances:
                      actual: '32.1'
                      pending_deposit: '0.0'
                      pending_topups: '0.0'
                      pending_withdrawals: '0.0'
                  - id: 8a075b89-c1f7-4381-a158-8ee866bf68bc
                    network: hoodi
                    pubkey: '0xd1ef8d468ef53d82368d2026e321ab2c6d44f44c33b7b9f22369bf6dcf37fb0208f82dd6b485325ce1bbf5aec7ad45bb'
                    withdrawal_address: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    withdrawal_credentials: '0x010000000000000000000000e40f80618324c814cd444434670a44ba4583ae38'
                    net_fee_payout_address: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    fee_recipient_address: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    status: withdrawal_done
                    region: ca-central-1
                    index: 1092111
                    staking_request:
                      id: a428d279-27b3-482b-82f4-510e7b52adb5
                      created_at: '2023-10-17T18:17:11Z'
                    status_history:
                      events:
                      - status: provisioned
                        changed_at: '2023-10-17T18:17:11Z'
                      - status: funding_requested
                        changed_at: '2023-10-17T20:35:22Z'
                      - status: deposited
                        changed_at: '2023-10-17T20:51:36Z'
                      - status: pending_queued
                        changed_at: '2023-10-18T13:29:36Z'
                      - status: active_ongoing
                        changed_at: '2023-10-19T06:27:12Z'
                      - status: active_exiting
                        changed_at: '2023-10-20T17:26:24Z'
                      - status: exited_unslashed
                        changed_at: '2023-10-20T17:52:00Z'
                      - status: withdrawal_possible
                        changed_at: '2023-10-21T21:10:24Z'
                      - status: withdrawal_done
                        changed_at: '2023-10-23T06:08:00Z'
                    deposit_data:
                      signature: '0xb6db15d9859eb657dc7836ca8b45775a4e064c0651958425ba57bbe51cd5d75319fe9642d3b170503ad48dc2212bcde70ae0e14d8b2ef9833dcb852a0b9c0a7ad8cb908a507426be77e5e549d6008484ef8c831cd707dff88888fa614bf03f87'
                      figment_signature: '0x308188024201f5ab9f11e1543adaefb94884c2128fa3261550562df9bf27aed076c0115f9879e0e919cc5e4283bb37e7b1df51314f1d349d95108f8a2a81f0d138d4c284f3f095024201b5a416d40579256070795d1c6cea2a02ad65bcd088d8152c0c62ea9dfe90e00e750c01c8ea14420d64a739055bad95f8d0ffa4d35d4c02bb96fc8bb9b8135d0223'
                      deposit_data_root: '0x86c1627b3353edd7aa56d84418b8a258820be0761a765c74920269297042df0d'
                      deposit_message_root: '0x648c94f84c8f14ea4edd1b35557dd5715bba282cae987ca34eb2bafe6fdea792'
                      fork_version: '0x01017000'
                      amount: 32000000000
                      deposit_cli_version: 2.7.0
                    status_estimates:
                      estimated_active_at: '2023-10-19T10:09:36Z'
                      estimated_exit_at: '2023-10-19T10:08:00Z'
                      estimated_withdrawal_at: '2023-10-23T14:49:36Z'
                    on_demand_exit:
                      requested_at: '2023-10-20T17:10:52Z'
                      approved_at: '2023-10-20T17:11:05Z'
                      submitted_at: '2023-10-20T17:22:00Z'
                      request_id: 9b41a113-44c5-4b6a-8493-78e6046b830e
                    exit_message:
                      encrypted_value: gk+W8XGB9bXtueP02sHh2kz4gSsj8T06sd/yXRnJM0oUAo0pvmKNf2pk3rqcLMWfPTrTZmx32BzN/8JRN+WpfyUrdtPVuSYMsyVWxWGIYeLXvBSuZoyzYfPMOXf8eg6CLz0RPZovoYood2M9aTFT2/3StyWO/Pq6aZus0luhksijwPftuAkErQgC09NHRgeb7vyhd3ZYiHPKKYUAjEIR3wllcxhFavTAFA8f1ImbZIZGRVkoykiswhcVjIjAFMSAah18IXSWRL2rDSKZvbDN6ZgKHg+J33LF55SihheOPaCNJe0j2xGczWGzXP4HzqOnlSS1aiz2XGtcaHg99be7wOduKVS4+cEaTX8JmMxKKc1L5kJ1kdOrqP9VRKa7pIkOhZr3OCDtrDaN5Mr3e+dfk4EsN8oMcqif2sLBVZoe1end0bR/3nhjGE24trrs4x8ljqE+xjMEM6JBLyWI4IhXZMxR6N3IXoHT1NPnq9lWYdKnqpOkhRkcUMNVuyHbXdh9ZD3VRLoL6eFpI+6GIbmlwOlbHMGf1pfND20NEEyyfa8F6krh+uhrga5FYg9W7/fuA+FjDEQCqe2ZU7usWQBWjJ4fCw3KHV3eMcH9jhxICHudicoxz8CQmcC32+iCYi6/ri+OCNkdEbqLkeJuFHZv1gsXEApjRdde9xq1wmm+Uvg=
                      fork_version: '0x01017000'
                    balances:
                      actual: '32.5'
                      pending_deposit: '0.0'
                      pending_topups: '0.0'
                      pending_withdrawals: '0.0'
                  - id: 29d3a221-8de7-4874-9973-35ac1e70b87b
                    network: hoodi
                    pubkey: '0xa151633094a5e75b886eeba797d43e80e4a6003462921f175aed2f112a460d09447f3c484f067c13b100b763070857b3'
                    withdrawal_address: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    withdrawal_credentials: '0x010000000000000000000000e40f80618324c814cd444434670a44ba4583ae38'
                    net_fee_payout_address: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    fee_recipient_address: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    status: funding_requested
                    region: ca-central-1
                    index: null
                    staking_request:
                      id: 817c04a2-3d5b-4222-81c8-2de77f0be7db
                      created_at: '2023-10-17T18:35:30Z'
                    status_history:
                      events:
                      - status: provisioned
                        changed_at: '2023-10-17T18:35:31Z'
                      - status: funding_requested
                        changed_at: '2023-10-17T21:29:18Z'
                    deposit_data:
                      signature: '0xb7a8703d0ff4865174525c760509a18c5cdc4a321612d865b995d9ba60a9519703d3f7be1527e89041dbea886cb3b26a0d1a13976405b93301cdb16a54258ec3ac891e738ad73e68c6a6a09b286f8c8c71005eb8e55d144ee59fa7c311ac3dea'
                      figment_signature: '0x308187024201cc42b16a0264b3853e123034f21ef7fc1d75b96bc8ae13427836475838c447f90e19a8e3926fe3d20bc91da4d720f886ef3eb3f35ed164674bb6cab2c216329c2002411392c3c6a70bf5f3df0ed3d092d28dbed24933d4ab150ec1ee60cba79d72d374572a04161d5f47be6485353fd78a4c04cc4f3a7bdcc9e3ae749419cc35bc3f6a13'
                      deposit_data_root: '0x8d0b864a077b06044d2336264aaf8efbd03dd61ab0a8074bfb811b7f5c10146e'
                      deposit_message_root: '0x5163474c33dcf5b6fb0bafcaa6a1edbe264de7c9eca6dc5358bee6c21bfc2fef'
                      fork_version: '0x01017000'
                      amount: 32000000000
                      deposit_cli_version: 2.7.0
                    status_estimates:
                      estimated_active_at: null
                      estimated_exit_at: null
                      estimated_withdrawal_at: null
                    on_demand_exit:
                      requested_at: null
                      approved_at: null
                      submitted_at: null
                      request_id: null
                    exit_message:
                      encrypted_value: null
                      fork_version: null
                    balances:
                      actual: '0.0'
                      pending_deposit: '32.0'
                      pending_topups: '0.0'
                      pending_withdrawals: '0.0'
                  meta:
                    pagination:
                      current_page: 1
                      total_pages: 20
                      total_item_count: 100
        '422':
          description: Invalid network
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
  /ethereum/broadcast:
    post:
      summary: Broadcast Staking Tx
      tags:
      - Ethereum
      operationId: broadcast-staking-tx
      parameters: []
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ethereum_broadcast_transaction'
                example:
                  data:
                    transaction_hash: '0xae96cb28f012f20a63118cf34f60de63c9884a483cc742d5f41a1aee6f5cd5f3'
                    activity:
                      type: null
                      status: pending
                      network: hoodi
                      protocol: ethereum
                      tx:
                        hash: '0xae96cb28f012f20a63118cf34f60de63c9884a483cc742d5f41a1aee6f5cd5f3'
                        status: in_progress
        '401':
          description: Invalid API key
        '400':
          description: Invalid params
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '422':
          description: Invalid network
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                title: Signed Transaction
                properties:
                  network:
                    type: string
                    example: hoodi
                    enum:
                    - mainnet
                    - hoodi
                  signed_transaction:
                    type: string
                    example: '0x02f9031a05478459682f00845968301083010fa99494a2da805867c962148d3832d9afc512034a62c58901bc16d674ec800000b902a44f498c730000000000000000000000000000000000000000000000000000000000000080000000000000000000000000000000000000000000000000000000000000012000000000000000000000000000000000000000000000000000000000000001a000000000000000000000000000000000000000000000000000000000000002600000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000309638291775bd64b4cd22b719aa049858fb3cf8483daa41b1a9e95f1f47ce2e052a4532e6990503631ab32e15419f12c900000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000020010000000000000000000000c0b0d5f4a73b348a1dd2ded11ed9e409fe7685a800000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000006084c3d96a3e85859e5000b8ab71ca2fbc7a58517e31c0447432bc5a32b30cac3f1a4d6e7b018c599faa1bb9143eb97a210d1cec905cef244a13ab48c23b3b0f2d450d7e001dcc52e636dea92b792d9eaf0c926b1fa6441345a1b6bdb176b2f2760000000000000000000000000000000000000000000000000000000000000001648b6f689a35fbdc712473f9216a545d614b7e70bcfb6822a7f83f3474c902b6c080a0f25cb8fa5887644fa8ad60f255d5fbbc7cde26b0fb3a7c53a6007ec5b9d1ee33a0671ad203805b5658ad10aef9157ce1898789ce61dbc51e70a4bbc535a5751746'
                    description: The unsigned transaction, serialized with the signature. See https://docs.figment.io/v2.0/docs/signing-transactions.
                required:
                - network
                - signed_transaction
              - type: object
                title: Unsigned Transaction + Signature
                properties:
                  network:
                    type: string
                    example: hoodi
                    enum:
                    - mainnet
                    - hoodi
                  unsigned_transaction_serialized:
                    type: string
                    example: '0x02f902d7050f8459682f008459682f9083010fb59494a2da805867c962148d3832d9afc512034a62c58901bc16d674ec800000b902a44f498c730000000000000000000000000000000000000000000000000000000000000080000000000000000000000000000000000000000000000000000000000000012000000000000000000000000000000000000000000000000000000000000001a000000000000000000000000000000000000000000000000000000000000002600000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000308dc141dc3a91a5b09dca7e9eb1c0f1f6cac2cad68ffc478956b741b1d9318285f31434fbcd7b3ae31697d772ba9d767600000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000020010000000000000000000000f60e717ce428e7d1d61e147aa34f1595caa56669000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000060b29edc85070d565b7a5e4f1d86443979231b4152be44b03cfe94c5b96101f51e70eaa488030dd5a8ae10412ae0c64d9716fb7248cc9e94adb8b62e9025de645a46f05b767d9100ef5587c3bc0ebb78f12ff3b821417e97e36dcd8ff2376ca9c400000000000000000000000000000000000000000000000000000000000000010cf3e3a73ec22d7278d7b54ba88ae24013e5370bc263e4b3a26fef09b1b1946dc0'
                    description: The unsigned transaction received from the create validators endpoint. See https://docs.figment.io/v2.0/reference/create-validators.
                  signature:
                    type: string
                    example: '0x789a80053e4927d0a898db8e065e948f5cf086e32f9ccaa54c1908e22ac430c62621578113ddbb62d509bf6049b8fb544ab06d36f916685a2eb8e57ffadde02301'
                    description: The signature corresponding to the unsigned transaction. See https://docs.figment.io/v2.0/docs/signing-transactions. Must be prefixed with `0x`.
                required:
                - network
                - unsigned_transaction_serialized
                - signature
  /ethereum/validators_summary:
    get:
      summary: Validators Summary
      tags:
      - Ethereum
      operationId: ethereum-validators-summary
      parameters:
      - name: network
        in: query
        schema:
          type: string
          enum:
          - mainnet
          - hoodi
        example: hoodi
        required: true
      - name: operated_by
        in: query
        description: if `figment`, returns data for Figment-operated validators only
        schema:
          type: string
          enum:
          - figment
          default: null
        required: false
      responses:
        '200':
          description: Validator summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validators_summary'
                example:
                  data:
                    validator_counts:
                      total: 100
                      by_status:
                        provisioned: 1
                        funding_requested: 1
                        deposited_not_finalized: 0
                        depoisted: 0
                        pending_initialized: 0
                        pending_queued: 0
                        active_ongoing: 94
                        active_exiting: 1
                        active_slashed: 0
                        exited_slashed: 0
                        exited_unslashed: 0
                        withdrawal_possible: 1
                        withdrawal_done: 2
        '422':
          description: Invalid network
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '400':
          description: Invalid operated_by
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
  /ethereum/activity:
    get:
      summary: Activity
      tags:
      - Ethereum
      operationId: ethereum-activity
      parameters:
      - name: network
        in: query
        schema:
          type: string
          enum:
          - mainnet
          - hoodi
        example: hoodi
        required: true
      - name: start
        in: query
        schema:
          type: string
        description: List activity starting at or after this time.
        example: '2024-03-12T00:00:00Z'
        required: false
      - name: end
        in: query
        schema:
          type: string
        description: List activity up to this time.
        example: '2024-03-13T00:00:00Z'
        required: false
      - name: page
        in: query
        required: false
        style: deepObject
        schema:
          type: object
          properties:
            number:
              type: integer
              example: 2
              minimum: 1
              description: The page number.
            size:
              type: integer
              example: 10
              minimum: 1
              maximum: 100
              description: Number of items to include in the response.
      - name: withdrawal_address
        in: query
        schema:
          type: string
        description: Withdrawal address for validators related to activity
        example: 0xEthereumAddress
        required: false
      responses:
        '200':
          description: List of staking/unstaking activity.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/staking_activity_stake'
                      - $ref: '#/components/schemas/staking_activity_unstake'
                  meta:
                    $ref: '#/components/schemas/pagination'
                example:
                  data:
                  - action: unstake
                    timestamp: '2024-03-15T14:49:01Z'
                    network: mainnet
                    currency: ETH
                    amount: 32
                    status: exiting
                  - action: stake
                    timestamp: '2024-03-13T08:02:17Z'
                    network: mainnet
                    currency: ETH
                    amount: 96
                    tx_hash: '0xef7310cc8324ce15a483d9578a5a732d203ec8f99f5b84ad8139140ea317a3fb'
                    status: activating
                  meta:
                    pagination:
                      current_page: 1
                      total_pages: 1
                      total_item_count: 2
        '422':
          description: Invalid network
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
  /ethereum/rewards:
    post:
      summary: Rewards
      operationId: eth-rewards
      tags:
      - Ethereum
      parameters: []
      responses:
        '200':
          description: List of rewards and balances aggregated for all addresses registered to the organization and rolled up to the requested `time_rollup`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        pubkey:
                          type: string
                          description: The validator pubkey
                          example: '0x9a0059ed6c2d2e35104a5113fdefa9d06cbd855b7be170f068b100391ffc811f55af4933e5e832a6c4ccfa69e7e4d120'
                        rewards:
                          type: array
                          items:
                            type: object
                            description: rewards earned by the validator for the given period
                            properties:
                              text:
                                type: string
                                description: The textual version of the rewards in ETH
                              currency:
                                type: string
                                description: Currency of rewards textual representation. Always `ETH`
                              numeric:
                                type: integer
                                description: Numerical representation of the rewards in wei
                              exp:
                                type: integer
                                description: The exponent to use for converting numeric value to ETH. Always `18`.
                              type:
                                type: string
                                description: 'Type of the rewards: `consensus`, `execution`, or `consensus_penalty`. The `consensus_penalty` entry is only present when `include_penalties` is `true` and the validator incurred a penalty for the period.'
                              recipient:
                                type: string
                                description: Recipient of the execution rewards (tip). Only available in execution rewards for epoch/daily rollup.
                              sender:
                                type: string
                                description: Address of MEV builder that sent the execution rewards (tips) to the validator
                              slot:
                                type: integer
                                description: Slot number of the proposal made by the validator
                              block:
                                type: integer
                                description: Execution layer block number of the proposal made by the validator
                              is_mev:
                                type: boolean
                                description: Whether or not MEV boost was used for the proposal
                              mev_relay:
                                type: string
                                description: Name of the mev boost service (if proposal was mev boosted)
                              tx_hash:
                                type: string
                                description: Hash of the transaction used to send MEV boosted tips
                        balances:
                          type: array
                          items:
                            type: object
                            description: Total balance of the validator at the end of each given period.
                            properties:
                              text:
                                type: string
                                description: The textual version of the balance in ETH
                              currency:
                                type: string
                                description: Currency of balance textual representation. Always `ETH`
                              numeric:
                                type: integer
                                description: Numerical representation of the balance in wei
                              exp:
                                type: integer
                                description: The exponent to use for converting numeric value to ETH. Always `18`.
                        epoch:
                          type: integer
                          description: The Epoch number (only present when epoch time_rollup is requested).
                        timestamp:
                          type: string
                          description: The timestamp of the end of the period rewards are reported for.
                        max_epoch:
                          type: integer
                          description: The last Epoch number reported for the validator for the day (only present when daily time_rollup is requested).
                        withdrawal_credentials:
                          type: string
                          description: The withdrawal credentials of the validator entity.
                        withdrawal_address:
                          type: string
                          description: Eth1 Withdrawal address of the validator. Only available when withdrawal credentials is not a BLS.
                        started_at:
                          type: string
                          description: Timestamp of the earliest record of rewards we have indexed for the validator. Only available in all_time time_rollup requests.
                  meta:
                    type: object
                    properties:
                      protocol:
                        type: string
                        example: ethereum
                        description: The name of the protocol queried.
                      network:
                        type: string
                        enum:
                        - mainnet
                        - hoodi
                        example: mainnet
                        description: The name of the network queried.
                      time_rollup:
                        type: string
                        example: daily
                        description: The time rollup unit of the rewards.
                      pagination:
                        type: object
                        description: Pagination information. Only available for all_time time_rollup and when the request supplies 'page' parameter.
                        properties:
                          total_item_count:
                            type: integer
                            description: Total number of items found.
                          total_pages:
                            type: integer
                            description: Total number of pages.
                          current_page:
                            type: integer
                            description: The current page number requested.
              examples:
                daily_rollup:
                  value:
                    data:
                    - pubkey: '0x9a0059ed6c2d2e35104a5113fdefa9d06cbd855b7be170f068b100391ffc811f55af4933e5e832a6c4ccfa69e7e4d120'
                      rewards:
                      - text: '0.002932238'
                        currency: ETH
                        numeric: 2932238000000000
                        exp: 18
                        type: consensus
                      - text: '0.019767962495220182'
                        currency: ETH
                        numeric: 19767962495220182
                        exp: 18
                        type: execution
                        recipient: '0xed488e6cc4b030eb5bfdde3227c3d5da2b9040e8'
                        sender: '0x95222290dd7278aa3ddd389cc1e1d165cc4bafe5'
                        slot: 7334788
                        block: 18146590
                        is_mev: true
                        mev_relay: Block Native
                        tx_hash: '0x25e3a03462a55b2632573cfc8e36cbb431d38793b6d26603cb11fd0251fee73b'
                      balances:
                      - text: '33.824197321'
                        currency: ETH
                        numeric: 33824197321000000000
                        exp: 18
                      timestamp: '2023-02-22T00:00:00Z'
                      max_epoch: 183036
                      withdrawal_address: '0xeD488E6cc4B030eb5BfddE3227C3D5da2b9040E8'
                      withdrawal_credentials: '0x010000000000000000000000ed488e6cc4b030eb5bfdde3227c3d5da2b9040e8'
                    meta:
                      protocol: ethereum
                      network: mainnet
                      time_rollup: daily
                all_time_rollup:
                  value:
                    data:
                    - pubkey: '0x9a0059ed6c2d2e35104a5113fdefa9d06cbd855b7be170f068b100391ffc811f55af4933e5e832a6c4ccfa69e7e4d120'
                      rewards:
                      - text: '2.502461635'
                        currency: ETH
                        numeric: 2502461635000000000
                        exp: 18
                        type: consensus
                      - text: '1.370500484453818979'
                        currency: ETH
                        numeric: 1370500484453818979
                        exp: 18
                        type: execution
                      balances:
                      - text: '32.009947048'
                        currency: ETH
                        numeric: 32009947048000000000
                        exp: 18
                      timestamp: '2023-02-15T10:04:59Z'
                      started_at: '2021-12-31T05:10:47Z'
                      withdrawal_address: '0xeD488E6cc4B030eb5BfddE3227C3D5da2b9040E8'
                      withdrawal_credentials: '0x010000000000000000000000ed488e6cc4b030eb5bfdde3227c3d5da2b9040e8'
                    meta:
                      protocol: ethereum
                      network: mainnet
                      time_rollup: all_time
                      pagination:
                        total_item_count: 10
                        total_pages: 4
                        current_page: 1
                epoch_rollup:
                  value:
                    data:
                    - pubkey: '0xb36fb7a3f02d96a697859cd155615cd059e4cafff67c406824b5eddcefd5dd57a61ccda1d46bcb7974e93c4662790f10'
                      epoch: 261703
                      timestamp: '2024-02-07T15:05:47Z'
                      rewards:
                      - text: '0.000009864'
                        currency: ETH
                        numeric: 9864000000000
                        exp: 18
                        type: consensus
                      balances:
                      - text: '32.045102149'
                        currency: ETH
                        numeric: 32045102149000000000
                        exp: 18
                      withdrawal_address: '0xB9D7934878B5FB9610B3fE8A5e441e8fad7E293f'
                      withdrawal_credentials: '0x010000000000000000000000b9d7934878b5fb9610b3fe8a5e441e8fad7e293f'
                    - pubkey: '0xb36fb7a3f02d96a697859cd155615cd059e4cafff67c406824b5eddcefd5dd57a61ccda1d46bcb7974e93c4662790f10'
                      epoch: 261702
                      timestamp: '2024-02-07T14:59:23Z'
                      rewards:
                      - text: '0.04291143'
                        currency: ETH
                        numeric: 42911430000000000
                        exp: 18
                        type: consensus
                      - text: '0.075704252784383499'
                        currency: ETH
                        numeric: 75704252784383499
                        exp: 18
                        type: execution
                        recipient: '0x388c818ca8b9251b393131c08a736a67ccb19297'
                        sender: '0x4838b106fce9647bdf1e7877bf73ce8b0bad5f97'
                        slot: 8374485
                        block: 19177054
                        is_mev: true
                        mev_relay: BloXroute Regulated
                        tx_hash: '0x6ac617a0fc5959e821cf4b23f95da22debe776d710df52e38029ba6b846d74b0'
                      balances:
                      - text: '32.002190749'
                        currency: ETH
                        numeric: 32002190749000000000
                        exp: 18
                      withdrawal_address: '0xB9D7934878B5FB9610B3fE8A5e441e8fad7E293f'
                      withdrawal_credentials: '0x010000000000000000000000b9d7934878b5fb9610b3fe8a5e441e8fad7e293f'
                    meta:
                      protocol: ethereum
                      network: mainnet
                      time_rollup: epoch
        '400':
          description: Parameter error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rewards_error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rewards_error'
        '500':
          description: System error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rewards_error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                time_rollup:
                  type: string
                  enum:
                  - epoch
                  - daily
                  - all_time
                  description: The granularity of the rewards data. Use `epoch` for one record per validator per epoch, `daily` for rewards aggregated by UTC calendar day, or `all_time` for cumulative rewards since validator activation.
                  example: daily
                start:
                  type: string
                  example: '2023-07-31'
                  description: 'Lower bound of rewards data. For `epoch` time_rollup: accepts an epoch number as an integer (e.g. 261702) or a date string ("YYYY-MM-DD"). For `daily` time_rollup: accepts a date string ("YYYY-MM-DD"). Ignored for `all_time` time_rollup.'
                end:
                  type: string
                  example: '2023-07-31'
                  description: 'Upper bound of rewards data. For `epoch` time_rollup: accepts an epoch number as an integer (e.g. 261703) or a date string ("YYYY-MM-DD"). For `daily` time_rollup: accepts a date string ("YYYY-MM-DD"). Ignored for `all_time` time_rollup.'
                groups:
                  type: string
                  description: Filter using comma-separated group uuids.
                  example: be982d21-ff93-4092-b56a-f40bac865400,a0ba2333-c541-41f0-ad89-e29a268a3ee5
                network:
                  type: string
                  default: mainnet
                  enum:
                  - mainnet
                  - hoodi
                pubkeys:
                  type: array
                  description: A list of validator pubkeys for filtering.
                  items:
                    type: string
                    example: '0x9a0059ed6c2d2e35104a5113fdefa9d06cbd855b7be170f068b100391ffc811f55af4933e5e832a6c4ccfa69e7e4d120'
                withdrawal_addresses:
                  type: array
                  description: A list of withdrawal addresses or credentials for filtering.
                  items:
                    type: string
                    example: '0x010000000000000000000000ed488e6cc4b030eb5bfdde3227c3d5da2b9040e8'
                page:
                  type: object
                  properties:
                    size:
                      type: integer
                      example: 500
                      description: Max number of entries to return. Only available when time_rollup is "all_time".
                    number:
                      type: integer
                      example: 1
                      description: page number of result set. Only available when time_rollup is "all_time"
                include_penalties:
                  type: boolean
                  default: false
                  description: 'When `true`, includes a separate `consensus_penalty` entry in the rewards array representing attestation and sync committee penalties for the period. Defaults to `false`.

                    **Data availability:** Penalty data is available from epoch **427295** (2026-02-12) onward. For periods before this epoch/date, no `consensus_penalty` entry will be present in the response regardless of whether penalties were incurred. For `all_time` rollups, the penalty represents the sum from epoch 427295 (2026-02-12) to present, not the validator''s full lifetime.'
              required:
              - time_rollup
              - start
              - end
  /ethereum/withdrawals:
    post:
      summary: Withdrawals
      operationId: eth-withdrawals
      tags:
      - Ethereum
      parameters: []
      responses:
        '200':
          description: List of validator withdrawals.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        index:
                          type: integer
                          example: 7642977
                          description: The unique index of the withdrawal on chain (from round robin process).
                        pubkey:
                          type: string
                          example: '0x9999e34d7049e81fb48cefdfa0e671b920ea1a1a292c3596041da2698a9ed303b802806c5ffd49498413c4b97748239f'
                          description: The public key of the validator.
                        validator_index:
                          type: integer
                          example: 626955
                          description: The index of the validator.
                        withdrawal_address:
                          type: string
                          example: '0xe187d594402c8f6b147f22d443406d1b1edebdc7'
                          description: The withdrawal address of the validator.
                        amount_text:
                          type: string
                          example: '32'
                          description: The withdrawal amount (as text).
                        currency:
                          type: string
                          example: ETH
                        amount_numeric:
                          type: integer
                          example: 32000000000000000000
                          description: The withdrawal amount (as an integer) - needs exp below.
                        exp:
                          type: integer
                          example: 18
                          description: The exponent used to calculate the final ETH amount.
                        full_withdrawal:
                          type: boolean
                          example: true
                          description: Whether the validator exited or not.
                        slot:
                          type: integer
                          example: 6694928
                          description: The consensus layer slot at which the withdrawal occurred.
                        block_number:
                          type: integer
                          example: 17512592
                          description: The execution layer block at which the withdrawal occurred.
                        epoch:
                          type: integer
                          example: 209216
                          description: The epoch in which the withdrawal sweep happened.
                        timestamp:
                          type: string
                          example: '2023-06-19T08:25:36Z'
                          description: The timestamp of the end of the epoch.
                  meta:
                    type: object
                    properties:
                      protocol:
                        type: string
                        example: ethereum
                        description: The name of the protocol queried.
                      network:
                        type: string
                        enum:
                        - mainnet
                        - hoodi
                        example: mainnet
                        description: Name of the network on which rewards were earned.
        '400':
          description: Parameter error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rewards_error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rewards_error'
        '500':
          description: System error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rewards_error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                start:
                  type: string
                  example: '2023-06-19'
                  description: Lower bound of withdrawal data expressed as epoch number (for epoch rollup only) or timestamps (as strings "YYYY-MM-DD"). This parameter is ignored when all_time rollup is requested.
                end:
                  type: string
                  example: '2023-07-19'
                  description: Upper bound of withdrawal data expressed as epoch number (for epoch rollup only) or timestamps (as strings "YYYY-MM-DD"). This parameter is ignored when all_time rollup is requested.
                network:
                  type: string
                  nullable: true
                  default: mainnet
                  enum:
                  - mainnet
                  - hoodi
                withdrawal_addresses:
                  type: array
                  description: A set of withdrawal addresses (or withdrawal credentials) to include in the results.
                  nullable: true
                  items:
                    type: string
                    example: '0xe187d594402c8f6b147f22d443406d1b1edebdc7'
                pubkeys:
                  type: array
                  description: A set of validator public keys to include in the results.
                  nullable: true
                  items:
                    type: string
                    example: '0x9999e34d7049e81fb48cefdfa0e671b920ea1a1a292c3596041da2698a9ed303b802806c5ffd49498413c4b97748239f'
              required:
              - start
              - end
  /ethereum/validators/exits:
    post:
      summary: Exit Validators
      tags:
      - Ethereum
      operationId: exit-validators
      parameters: []
      responses:
        '202':
          description: Exit request accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/validator_to_exit'
                  meta:
                    type: object
                    properties:
                      on_demand_exit_request_id:
                        type: string
                        example: bdb4e909-24f5-412c-a74a-cb030852444f
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                title: By public keys
                properties:
                  pubkeys:
                    type: array
                    items:
                      type: string
                      example: '0xeacc60f7b5eb2ba92c340836b2e265bcf8e68c2393a5285dd191c221b207908aa0f2d9ae3814dc748c47e70da960da5c'
                      description: The pubkeys of the validators that need to be exited. Must be prefixed with `0x`.
                  network:
                    type: string
                    example: hoodi
                    enum:
                    - mainnet
                    - hoodi
                required:
                - network
                - pubkeys
              - type: object
                title: By withdrawal address
                properties:
                  withdrawal_address:
                    type: string
                    example: '0xE40F80618324C814cD444434670a44ba4583aE38'
                    description: The withdrawal address of the validators that should be exited. Must be prefixed with `0x`.
                  validators_count:
                    type: integer
                    example: 10
                    description: The number of validators to exit.
                  network:
                    type: string
                    example: hoodi
                    enum:
                    - mainnet
                    - hoodi
                required:
                - network
                - withdrawal_address
                - validators_count
  /ethereum/broadcast_exit_message:
    post:
      summary: Broadcast Exit Message
      tags:
      - Ethereum
      operationId: broadcast-exit-message
      parameters: []
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/broadcast_exit_message'
                example:
                  data:
                    epoch: 182738
                    validator_Index: 483128
                    signature: '0x97f0dde45b0be31fd9a76a60a25216c7b7a14f6fd21a8232cdd8cba8c419c0a618589e98ff8b8a253c9975adc11746de0f34a4d223c7927b8547d19035aeaa48f980e8e510e5278b6a901665aa24d6c54d332d39924ba3d263861a5f1fc3234d'
        '401':
          description: Invalid API key
        '400':
          description: Invalid params
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '422':
          description: Invalid network
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                network:
                  type: string
                  example: hoodi
                  enum:
                  - mainnet
                  - hoodi
                epoch:
                  type: string
                  example: '182738'
                  description: The earliest epoch at which the validator can exit. This field must be retrieved from the decrypted exit message.
                validator_index:
                  type: string
                  example: '483128'
                  description: The index of the validators to be exited. This field must be retrieved from the decrypted exit message.
                signature:
                  type: string
                  example: '0x97f0dde45b0be31fd9a76a60a25216c7b7a14f6fd21a8232cdd8cba8c419c0a618589e98ff8b8a253c9975adc11746de0f34a4d223c7927b8547d19035aeaa48f980e8e510e5278b6a901665aa24d6c54d332d39924ba3d263861a5f1fc3234d'
                  description: The exit message signature. This field must be retrieved from the decrypted exit message.
              required:
              - network
              - epoch
              - validator_index
              - signature
  /ethereum/rewards_rates:
    get:
      tags:
      - Ethereum
      summary: Reward Rates
      operationId: eth-rewards-rates
      parameters:
      - in: query
        name: figment
        schema:
          type: boolean
        required: false
        description: If `true`, returns reward rates for Figment validators. If not, returns reward rates for the ETH network.
      - in: query
        name: avg
        schema:
          type: string
          enum:
          - 7d
        required: false
        description: If `7d`, returns the 7 days moving average. If not, returns the daily spot rates.
      - in: query
        name: decimal
        schema:
          type: integer
        required: false
        description: Specifies the number of desired decimal to be returned. Accepts values between 2 (default) and 5.
      responses:
        '200':
          description: List of rewards rates by date.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          example: '2023-05-01'
                          description: Timestamp for the day in format "YYYY-MM-DD"
                        value:
                          type: string
                          example: '6.73'
                          description: The total annualized reward rate for that day - in %.
                        consensus:
                          type: string
                          example: '3.81'
                          description: The piece due to consensus layer rewards (inflation) - in %.
                        execution:
                          type: string
                          example: '2.92'
                          description: The piece due to execution layer rewards (transaction fees) - in %.
        '400':
          description: Parameter error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rewards_error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rewards_error'
        '500':
          description: System error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rewards_error'
  /ethereum/network_estimates:
    get:
      summary: Ethereum Network Estimates
      operationId: ethereum-network-estimates
      parameters:
      - name: network
        in: query
        required: true
        schema:
          type: string
          enum:
          - mainnet
          - hoodi
      - name: history
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: network estimates
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      activation_estimate:
                        type: object
                        properties:
                          hours:
                            type: integer
                            example: 30
                          history:
                            type: object
                            additionalProperties:
                              type: integer
                        required:
                        - hours
                      exit_estimate:
                        type: object
                        properties:
                          hours:
                            type: integer
                            example: 42
                        required:
                        - hours
                      withdrawal_estimate:
                        type: object
                        properties:
                          hours_min:
                            type: integer
                            example: 5
                          hours_max:
                            type: integer
                            example: 27
                          history:
                            type: object
                            additionalProperties:
                              type: object
                              properties:
                                hours_min:
                                  type: integer
                                hours_max:
                                  type: integer
                        required:
                        - hours_min
                        - hours_max
                    required:
                    - activation_estimate
                    - exit_estimate
                    - withdrawal_estimate
                  meta:
                    type: object
                    properties:
                      protocol:
                        type: string
                        example: ethereum
                      network:
                        type: string
                        example: mainnet
                    required:
                    - protocol
                    - network
                required:
                - data
                - meta
        '422':
          description: unsupported network
      tags:
      - Ethereum
  /ethereum/addresses/pubkeys:
    post:
      summary: Track Validator
      operationId: track-validator
      tags:
      - Ethereum
      parameters: []
      responses:
        '401':
          description: Invalid API key
        '201':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/tracked_validator'
                example:
                  data:
                    id: 031af36c-508a-4f3d-84dd-f46d9e59428f
                    network: hoodi
                    pubkey: '0xd1ef8d468ef53d82368d2026e321ab2c6d44f44c33b7b9f22369bf6dcf37fb0208f82dd6b485325ce1bbf5aec7ad45bb'
                    withdrawal_address: '0xE40F80618324C814cD444434670a44ba4583aE38'
        '400':
          description: Invalid params
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '409':
          description: Already tracked
        '422':
          description: Validator not found on network
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                network:
                  type: string
                  example: hoodi
                  enum:
                  - mainnet
                  - hoodi
                pubkey:
                  type: string
                  example: '0xd1ef8d468ef53d82368d2026e321ab2c6d44f44c33b7b9f22369bf6dcf37fb0208f82dd6b485325ce1bbf5aec7ad45bb'
                  description: The pubkey for the validator. Must be prefixed with `0x`.
              required:
              - network
              - pubkey
  /ethereum/compound:
    post:
      summary: Compound Transaction
      tags:
      - Ethereum
      operationId: ethereum-compound-transaction
      parameters: []
      responses:
        '201':
          description: Created Deposit
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      network:
                        type: string
                      signing_payload:
                        type: string
                      unsigned_transaction_serialized:
                        type: string
                      contract_call_data:
                        type: string
        '400':
          description: Bad Request
        '422':
          description: Unprocessable Content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                network:
                  type: string
                  example: hoodi
                  enum:
                  - mainnet
                  - hoodi
                amount:
                  type: string
                  example: '1.5'
                  description: Amount to deposit in ETH
                pubkey:
                  type: string
                  example: '0x8d3ba26f9cd79150463588326e4d7259581558bc8345f27abb3e7d7f0bc573df8d54e59583ce667707100119937d22e5'
                funding_address:
                  type: string
                  example: '0x4150b580643677B57debC52a6590b92F36775F8c'
                  description: Address funding the transaction. Defaults to withdrawal address.
              required:
              - network
              - amount
              - pubkey
              example:
                data:
                  network: hoodi
                  unsigned_transaction_serialized: '0x02f901d983088bb0108459682f0084d8fd629e8305dc8f9400000000219ab540356cbb839cbe05303d7705fa880de0b6b3a7640000b901a422895118000000000000000000000000000000000000000000000000000000000000008000000000000000000000000000000000000000000000000000000000000000e0000000000000000000000000000000000000000000000000000000000000012027e313b2fda3f1f5e127be21ac5c9fa63f95987441e12840ec574e5b8c8e4bdf00000000000000000000000000000000000000000000000000000000000000308d3ba26f9cd79150463588326e4d7259581558bc8345f27abb3e7d7f0bc573df8d54e59583ce667707100119937d22e500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000060000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000c0'
                  signing_payload: '0x3911c019f633312e1e4509ca3d5a8ec9e8620de96166cf6c4bc5b4ae99cca062'
                  contract_call_data: '0x787a73e32e6029687ed9f07530e37af9dae42c6e01b83884c1259553d2a343a38218856efb25daabdc7b4c118c59776a79412a96af522ceee0d483713d76e489865378f6eeeb48000000003b9aca00c0'
  /ethereum/activities:
    get:
      summary: Activities
      tags:
      - Ethereum
      operationId: ethereum-activities
      description: 'Returns Ethereum staking activities for the authenticated organization.


        ## Activity types


        | `type`          | Description | Notes |

        |-----------------|-------------|-------|

        | `stake`         | ETH deposited to the deposit contract to provision a validator | |

        | `unstake`       | Validator exit initiated | `tx.hash` and `tx.status` are always `null` — the exit is an off-chain beacon chain message, not an on-chain transaction |

        | `delegation`    | Rewards compounded / top-up stake activated | |

        | `undelegation`  | Partial withdrawal swept from the beacon chain | |

        | `consolidation` | Two validators consolidated into one | |

        | `upgrade`       | Validator credentials upgraded to compounding | |


        `tx.status` reflects the on-chain transaction status (`in_progress`, `confirmed`, `failed`, `expired`).

        '
      parameters:
      - name: network
        in: query
        schema:
          type: string
          enum:
          - mainnet
          - hoodi
        example: hoodi
        required: true
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - stake
          - unstake
          - delegation
          - undelegation
          - consolidation
          - upgrade
        description: Filter by activity type.
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - pending
          - complete
          - failed
        description: Filter by activity-life status.
      - name: address
        in: query
        schema:
          type: string
        required: false
        description: Filter to activities for a wallet address (case-insensitive). For Ethereum this is the validator withdrawal address. Matches the `delegation_address` returned on each activity.
      - name: start
        in: query
        schema:
          type: string
        required: false
        example: '2024-03-12T00:00:00Z'
      - name: end
        in: query
        schema:
          type: string
        required: false
        example: '2024-03-13T00:00:00Z'
      - name: page
        in: query
        required: false
        style: deepObject
        schema:
          type: object
          properties:
            number:
              type: integer
              example: 2
              minimum: 1
              description: The page number.
            size:
              type: integer
              example: 10
              minimum: 1
              maximum: 100
              description: Number of items to include in the response.
      responses:
        '200':
          description: List of activities, newest first.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: object
                        title: Stake
                        description: ETH deposited to the deposit contract to provision a validator.
                        properties:
                          id:
                            type: string
                            format: uuid
                            example: 3f1c9b2a-8e4d-4a6b-9c1e-2d5f7a8b0c3d
                            description: Activity UUID.
                          status:
                            type: string
                            enum:
                            - pending
                            - complete
                            - failed
                            example: pending
                            description: Activity-life status (warmup/cooldown), not the on-chain status.
                          network:
                            type: string
                            enum:
                            - mainnet
                            - hoodi
                            example: hoodi
                          protocol:
                            type: string
                            example: ethereum
                          amount:
                            type: number
                            example: 32.0
                            description: Amount in the asset major unit.
                          currency:
                            type: string
                            example: ETH
                          timestamp:
                            type: string
                            example: '2024-03-12T00:00:00.000Z'
                          estimated_completed_at:
                            type:
                            - string
                            - 'null'
                            description: Estimated activity completion time, when known.
                          delegation_address:
                            type:
                            - string
                            - 'null'
                            description: The wallet that originated the activity — for Ethereum, the validator withdrawal address. Matches the `address` filter.
                          tx:
                            type: object
                            description: On-chain transaction axis. Distinct from the activity-life `status`.
                            properties:
                              hash:
                                type:
                                - string
                                - 'null'
                                example: 0x4f1a2b…
                                description: Transaction hash, when one exists.
                              status:
                                type:
                                - string
                                - 'null'
                                enum:
                                - in_progress
                                - confirmed
                                - failed
                                - expired
                                - null
                                example: confirmed
                                description: On-chain/transaction status. Null until the transaction is tracked.
                          details:
                            type: object
                            properties:
                              pubkeys:
                                type: array
                                items:
                                  type: string
                                description: Validator pubkey(s) the activity concerns.
                          type:
                            type: string
                            enum:
                            - stake
                            example: stake
                      - type: object
                        title: Unstake
                        description: Validator exit initiated. `tx.hash` and `tx.status` are always `null` — the exit is an off-chain beacon chain message, not an on-chain transaction.
                        properties:
                          id:
                            type: string
                            format: uuid
                            example: 3f1c9b2a-8e4d-4a6b-9c1e-2d5f7a8b0c3d
                            description: Activity UUID.
                          status:
                            type: string
                            enum:
                            - pending
                            - complete
                            - failed
                            example: pending
                            description: Activity-life status (warmup/cooldown), not the on-chain status.
                          network:
                            type: string
                            enum:
                            - mainnet
                            - hoodi
                            example: hoodi
                          protocol:
                            type: string
                            example: ethereum
                          amount:
                            type: number
                            example: 32.0
                            description: Amount in the asset major unit.
                          currency:
                            type: string
                            example: ETH
                          timestamp:
                            type: string
                            example: '2024-03-12T00:00:00.000Z'
                          estimated_completed_at:
                            type:
                            - string
                            - 'null'
                            description: Estimated activity completion time, when known.
                          delegation_address:
                            type:
                            - string
                            - 'null'
                            description: The wallet that originated the activity — for Ethereum, the validator withdrawal address. Matches the `address` filter.
                          tx:
                            type: object
                            description: On-chain transaction axis. Distinct from the activity-life `status`.
                            properties:
                              hash:
                                type:
                                - string
                                - 'null'
                                example: 0x4f1a2b…
                                description: Transaction hash, when one exists.
                              status:
                                type:
                                - string
                                - 'null'
                                enum:
                                - in_progress
                                - confirmed
                                - failed
                                - expired
                                - null
                                example: confirmed
                                description: On-chain/transaction status. Null until the transaction is tracked.
                          details:
                            type: object
                            properties:
                              pubkeys:
                                type: array
                                items:
                                  type: string
                                description: Validator pubkey(s) the activity concerns.
                          type:
                            type: string
                            enum:
                            - unstake
                            example: unstake
                      - type: object
                        title: Delegation
                        description: Rewards compounded / top-up stake activated.
                        properties:
                          id:
                            type: string
                            format: uuid
                            example: 3f1c9b2a-8e4d-4a6b-9c1e-2d5f7a8b0c3d
                            description: Activity UUID.
                          status:
                            type: string
                            enum:
                            - pending
                            - complete
                            - failed
                            example: pending
                            description: Activity-life status (warmup/cooldown), not the on-chain status.
                          network:
                            type: string
                            enum:
                            - mainnet
                            - hoodi
                            example: hoodi
                          protocol:
                            type: string
                            example: ethereum
                          amount:
                            type: number
                            example: 32.0
                            description: Amount in the asset major unit.
                          currency:
                            type: string
                            example: ETH
                          timestamp:
                            type: string
                            example: '2024-03-12T00:00:00.000Z'
                          estimated_completed_at:
                            type:
                            - string
                            - 'null'
                            description: Estimated activity completion time, when known.
                          delegation_address:
                            type:
                            - string
                            - 'null'
                            description: The wallet that originated the activity — for Ethereum, the validator withdrawal address. Matches the `address` filter.
                          tx:
                            type: object
                            description: On-chain transaction axis. Distinct from the activity-life `status`.
                            properties:
                              hash:
                                type:
                                - string
                                - 'null'
                                example: 0x4f1a2b…
                                description: Transaction hash, when one exists.
                              status:
                                type:
                                - string
                                - 'null'
                                enum:
                                - in_progress
                                - confirmed
                                - failed
                                - expired
                                - null
                                example: confirmed
                                description: On-chain/transaction status. Null until the transaction is tracked.
                          details:
                            type: object
                            properties:
                              pubkeys:
                                type: array
                                items:
                                  type: string
                                description: Validator pubkey(s) the activity concerns.
                          type:
                            type: string
                            enum:
                            - delegation
                            example: delegation
                      - type: object
                        title: Undelegation
                        description: Partial withdrawal swept from the beacon chain.
[...]
