openapi: 3.2.0
info:
  title: Figment Avalanche API
  version: 2.0.0+1190.1
  termsOfService: https://figment.io/staking-terms-of-use
servers:
- url: https://api.figment.io
tags:
- name: Avalanche
paths:
  /avalanche/broadcast:
    post:
      summary: Broadcasts
      tags:
      - Avalanche
      operationId: broadcast-avalanche-tx
      parameters: []
      responses:
        '201':
          description: transaction created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      transaction_hash:
                        type: string
                        example: 0xTransactionHash
                        description: Transaction Hash of the broadcasted transaction
                example:
                  type: object
                  properties:
                    network:
                      type: string
                      example: hoodi
                      enum:
                      - mainnet
                      - hoodi
                      description: Network name
                    transaction_hash:
                      type: string
                      example: '0xae96cb28f012f20a63118cf34f60de63c9884a483cc742d5f41a1aee6f5cd5f3'
                      description: The transaction hash from the onchain broadcast.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                network:
                  type: string
                  example: fuji
                  enum:
                  - fuji
                  - mainnet
                  description: Avalanche network to build transaction for, mainnet or fuji
                signed_payload:
                  type: string
                  example: 0xSignedPayload
                  description: Signature from signing the signing_payload
                unsigned_transaction_serialized:
                  type: string
                  example: 0xSerializedTransaction
                  description: unsigned_transaction_serialized from the tx response
              required:
              - network
              - signed_payload
              - unsigned_transaction_serialized
  /avalanche/delegate:
    post:
      summary: Delegate
      tags:
      - Avalanche
      operationId: build-avalanche-delegate-tx
      parameters: []
      responses:
        '201':
          description: transaction created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      network:
                        type: string
                        example: fuji
                        description: Avalanche network to build transaction for, mainnet or fuji
                      signing_payload:
                        type: string
                        example: 0xSigningPayload
                        description: Hex encoded payload to sign
                      unsigned_transaction_serialized:
                        type: string
                        example: 0xSerializedTransaction
                        description: Hex encoding of the built transaction
                example:
                  data:
                    network: fuji
                    unsigned_transaction_serialized: '0x7b22636f6465634964223a2230222c22766d223a2250564d222c2274784279746573223a223078303030303030303030303161303030303030303530303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303133643962646163306564316437363133333063663638306566646562316134323135396562333837643664323935306339366637643238663631626265326161303030303030303730303030303030303030303338333438303030303030303030303030303030303030303030303031303030303030303134303638336631306635653763343830313432626233346361316633616635373161346465623235303030303030303230396265646163643230323163643463323566373162613635663364386436346130343431333234653034373639396633316164353366333230386637313033303030303030303133643962646163306564316437363133333063663638306566646562316134323135396562333837643664323935306339366637643238663631626265326161303030303030303530303030303030303362396163613030303030303030303130303030303030303039626564616364323032316364346332356637316261363566336438643634613034343133323465303437363939663331616435336633323038663731303330303030303030323364396264616330656431643736313333306366363830656664656231613432313539656233383764366432393530633936663764323866363162626532616130303030303030353030303030303030303030336166343430303030303030313030303030303030303030303030303037393431636166333663353636373661316531313537393135366333353132666538313461373661303030303030303036376235303465343030303030303030303030303030303630303030303030303362396163613030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303031336439626461633065643164373631333330636636383065666465623161343231353965623338376436643239353063393666376432386636316262653261613030303030303037303030303030303033623961636130303030303030303030303030303030303030303030303030313030303030303031343036383366313066356537633438303134326262333463613166336166353731613464656232353030303030303062303030303030303030303030303030303030303030303031303030303030303134303638336631306635653763343830313432626233346361316633616635373161346465623235222c227574786f73223a5b22307830396265646163643230323163643463323566373162613635663364386436346130343431333234653034373639396633316164353366333230386637313033303030303030303233643962646163306564316437363133333063663638306566646562316134323135396562333837643664323935306339366637643238663631626265326161303030303030303730303030303030303030303361663434303030303030303030303030303030303030303030303031303030303030303134303638336631306635653763343830313432626233346361316633616635373161346465623235222c22307830396265646163643230323163643463323566373162613635663364386436346130343431333234653034373639396633316164353366333230386637313033303030303030303133643962646163306564316437363133333063663638306566646562316134323135396562333837643664323935306339366637643238663631626265326161303030303030303730303030303030303362396163613030303030303030303030303030303030303030303030303031303030303030303134303638336631306635653763343830313432626233346361316633616635373161346465623235225d2c22616464726573734d617073223a5b5b5b22307834303638336631306635653763343830313432626233346361316633616635373161346465623235222c305d5d2c5b5b22307834303638336631306635653763343830313432626233346361316633616635373161346465623235222c305d5d5d2c2263726564656e7469616c73223a5b5b2230303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030225d2c5b2230303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030225d5d7d'
                    signing_payload: '0x00000000001a000000050000000000000000000000000000000000000000000000000000000000000000000000013d9bdac0ed1d761330cf680efdeb1a42159eb387d6d2950c96f7d28f61bbe2aa0000000700000000000383480000000000000000000000010000000140683f10f5e7c480142bb34ca1f3af571a4deb250000000209bedacd2021cd4c25f71ba65f3d8d64a0441324e047699f31ad53f3208f7103000000013d9bdac0ed1d761330cf680efdeb1a42159eb387d6d2950c96f7d28f61bbe2aa00000005000000003b9aca00000000010000000009bedacd2021cd4c25f71ba65f3d8d64a0441324e047699f31ad53f3208f7103000000023d9bdac0ed1d761330cf680efdeb1a42159eb387d6d2950c96f7d28f61bbe2aa00000005000000000003af440000000100000000000000007941caf36c56676a1e11579156c3512fe814a76a0000000067b504e40000000000000006000000003b9aca000000000000000000000000000000000000000000000000000000000000000000000000013d9bdac0ed1d761330cf680efdeb1a42159eb387d6d2950c96f7d28f61bbe2aa00000007000000003b9aca000000000000000000000000010000000140683f10f5e7c480142bb34ca1f3af571a4deb250000000b0000000000000000000000010000000140683f10f5e7c480142bb34ca1f3af571a4deb25'
        '422':
          description: Invalid request
        '400':
          description: Invalid request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                network:
                  type: string
                  example: fuji
                  enum:
                  - fuji
                  - mainnet
                  description: Avalanche network to build transaction for, mainnet or fuji
                from_address:
                  type: string
                  example: P-fuji1gp5r7y84ulzgq9ptkdx2rua02udym6e9f9u3ac
                  description: P-Chain address
                reward_address:
                  type: string
                  example: P-fuji1gp5r7y84ulzgq9ptkdx2rua02udym6e9f9u3ac
                  description: P-Chain address to send rewards to
                amount:
                  type: float
                  example: 10.0
                  description: Amount of AVAX to delegate
                start:
                  type: integer
                  example: 1739568789
                  description: Unix timestamp of when to start delegating
                end:
                  type: integer
                  example: 1739658796
                  description: Unix Timestamp of when to end delegation
                node_id:
                  type: string
                  example: NodeID-41cr9VeX852rtHrELWnHthUV4Bbm75WBY
                  description: NodeId of Validator to delegate to
              required:
              - network
              - from_address
              - amount
              - start
              - end
              - node_id
  /avalanche/export:
    post:
      summary: Export
      tags:
      - Avalanche
      operationId: build-avalanche-export-tx
      parameters: []
      responses:
        '201':
          description: transaction created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      network:
                        type: string
                        example: fuji
                        description: Avalanche network to build transaction for, mainnet or fuji
                      signing_payload:
                        type: string
                        example: 0xSigningPayload
                        description: Hex encoded payload to sign
                      unsigned_transaction_serialized:
                        type: string
                        example: 0xSerializedTransaction
                        description: Hex encoding of the built transaction
                example:
                  data:
                    network: fuji
                    unsigned_transaction_serialized: '0x7b22636f6465634964223a2230222c22766d223a2250564d222c2274784279746573223a223078303030303030303030303161303030303030303530303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303133643962646163306564316437363133333063663638306566646562316134323135396562333837643664323935306339366637643238663631626265326161303030303030303730303030303030303030303338333438303030303030303030303030303030303030303030303031303030303030303134303638336631306635653763343830313432626233346361316633616635373161346465623235303030303030303230396265646163643230323163643463323566373162613635663364386436346130343431333234653034373639396633316164353366333230386637313033303030303030303133643962646163306564316437363133333063663638306566646562316134323135396562333837643664323935306339366637643238663631626265326161303030303030303530303030303030303362396163613030303030303030303130303030303030303039626564616364323032316364346332356637316261363566336438643634613034343133323465303437363939663331616435336633323038663731303330303030303030323364396264616330656431643736313333306366363830656664656231613432313539656233383764366432393530633936663764323866363162626532616130303030303030353030303030303030303030336166343430303030303030313030303030303030303030303030303037393431636166333663353636373661316531313537393135366333353132666538313461373661303030303030303036376235303465343030303030303030303030303030303630303030303030303362396163613030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303031336439626461633065643164373631333330636636383065666465623161343231353965623338376436643239353063393666376432386636316262653261613030303030303037303030303030303033623961636130303030303030303030303030303030303030303030303030313030303030303031343036383366313066356537633438303134326262333463613166336166353731613464656232353030303030303062303030303030303030303030303030303030303030303031303030303030303134303638336631306635653763343830313432626233346361316633616635373161346465623235222c227574786f73223a5b22307830396265646163643230323163643463323566373162613635663364386436346130343431333234653034373639396633316164353366333230386637313033303030303030303233643962646163306564316437363133333063663638306566646562316134323135396562333837643664323935306339366637643238663631626265326161303030303030303730303030303030303030303361663434303030303030303030303030303030303030303030303031303030303030303134303638336631306635653763343830313432626233346361316633616635373161346465623235222c22307830396265646163643230323163643463323566373162613635663364386436346130343431333234653034373639396633316164353366333230386637313033303030303030303133643962646163306564316437363133333063663638306566646562316134323135396562333837643664323935306339366637643238663631626265326161303030303030303730303030303030303362396163613030303030303030303030303030303030303030303030303031303030303030303134303638336631306635653763343830313432626233346361316633616635373161346465623235225d2c22616464726573734d617073223a5b5b5b22307834303638336631306635653763343830313432626233346361316633616635373161346465623235222c305d5d2c5b5b22307834303638336631306635653763343830313432626233346361316633616635373161346465623235222c305d5d5d2c2263726564656e7469616c73223a5b5b2230303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030225d2c5b2230303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030225d5d7d'
                    signing_payload: '0x00000000001a000000050000000000000000000000000000000000000000000000000000000000000000000000013d9bdac0ed1d761330cf680efdeb1a42159eb387d6d2950c96f7d28f61bbe2aa0000000700000000000383480000000000000000000000010000000140683f10f5e7c480142bb34ca1f3af571a4deb250000000209bedacd2021cd4c25f71ba65f3d8d64a0441324e047699f31ad53f3208f7103000000013d9bdac0ed1d761330cf680efdeb1a42159eb387d6d2950c96f7d28f61bbe2aa00000005000000003b9aca00000000010000000009bedacd2021cd4c25f71ba65f3d8d64a0441324e047699f31ad53f3208f7103000000023d9bdac0ed1d761330cf680efdeb1a42159eb387d6d2950c96f7d28f61bbe2aa00000005000000000003af440000000100000000000000007941caf36c56676a1e11579156c3512fe814a76a0000000067b504e40000000000000006000000003b9aca000000000000000000000000000000000000000000000000000000000000000000000000013d9bdac0ed1d761330cf680efdeb1a42159eb387d6d2950c96f7d28f61bbe2aa00000007000000003b9aca000000000000000000000000010000000140683f10f5e7c480142bb34ca1f3af571a4deb250000000b0000000000000000000000010000000140683f10f5e7c480142bb34ca1f3af571a4deb25'
        '422':
          description: Invalid request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                network:
                  type: string
                  example: fuji
                  enum:
                  - fuji
                  - mainnet
                  description: Avalanche network to build transaction for, mainnet or fuji
                from_address:
                  type: string
                  example: P-fuji1gp5r7y84ulzgq9ptkdx2rua02udym6e9f9u3ac
                  description: P-Chain or C-Chain address
                to_address:
                  type: string
                  example: P-fuji1gp5r7y84ulzgq9ptkdx2rua02udym6e9f9u3ac
                  description: P-Chain or C-Chain address
                amount:
                  type: float
                  example: 10.0
                  description: Amount of AVAX to delegate
              required:
              - network
              - from_address
              - to_address
              - amount
        required: true
  /avalanche/import:
    post:
      summary: Import
      tags:
      - Avalanche
      operationId: build-avalanche-import-tx
      parameters: []
      responses:
        '201':
          description: transaction created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      network:
                        type: string
                        example: fuji
                        description: Avalanche network to build transaction for, mainnet or fuji
                      signing_payload:
                        type: string
                        example: 0xSigningPayload
                        description: Hex encoded payload to sign
                      unsigned_transaction_serialized:
                        type: string
                        example: 0xSerializedTransaction
                        description: Hex encoding of the built transaction
                example:
                  data:
                    network: fuji
                    unsigned_transaction_serialized: '0x7b22636f6465634964223a2230222c22766d223a2250564d222c2274784279746573223a223078303030303030303030303161303030303030303530303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303133643962646163306564316437363133333063663638306566646562316134323135396562333837643664323935306339366637643238663631626265326161303030303030303730303030303030303030303338333438303030303030303030303030303030303030303030303031303030303030303134303638336631306635653763343830313432626233346361316633616635373161346465623235303030303030303230396265646163643230323163643463323566373162613635663364386436346130343431333234653034373639396633316164353366333230386637313033303030303030303133643962646163306564316437363133333063663638306566646562316134323135396562333837643664323935306339366637643238663631626265326161303030303030303530303030303030303362396163613030303030303030303130303030303030303039626564616364323032316364346332356637316261363566336438643634613034343133323465303437363939663331616435336633323038663731303330303030303030323364396264616330656431643736313333306366363830656664656231613432313539656233383764366432393530633936663764323866363162626532616130303030303030353030303030303030303030336166343430303030303030313030303030303030303030303030303037393431636166333663353636373661316531313537393135366333353132666538313461373661303030303030303036376235303465343030303030303030303030303030303630303030303030303362396163613030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303031336439626461633065643164373631333330636636383065666465623161343231353965623338376436643239353063393666376432386636316262653261613030303030303037303030303030303033623961636130303030303030303030303030303030303030303030303030313030303030303031343036383366313066356537633438303134326262333463613166336166353731613464656232353030303030303062303030303030303030303030303030303030303030303031303030303030303134303638336631306635653763343830313432626233346361316633616635373161346465623235222c227574786f73223a5b22307830396265646163643230323163643463323566373162613635663364386436346130343431333234653034373639396633316164353366333230386637313033303030303030303233643962646163306564316437363133333063663638306566646562316134323135396562333837643664323935306339366637643238663631626265326161303030303030303730303030303030303030303361663434303030303030303030303030303030303030303030303031303030303030303134303638336631306635653763343830313432626233346361316633616635373161346465623235222c22307830396265646163643230323163643463323566373162613635663364386436346130343431333234653034373639396633316164353366333230386637313033303030303030303133643962646163306564316437363133333063663638306566646562316134323135396562333837643664323935306339366637643238663631626265326161303030303030303730303030303030303362396163613030303030303030303030303030303030303030303030303031303030303030303134303638336631306635653763343830313432626233346361316633616635373161346465623235225d2c22616464726573734d617073223a5b5b5b22307834303638336631306635653763343830313432626233346361316633616635373161346465623235222c305d5d2c5b5b22307834303638336631306635653763343830313432626233346361316633616635373161346465623235222c305d5d5d2c2263726564656e7469616c73223a5b5b2230303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030225d2c5b2230303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030225d5d7d'
                    signing_payload: '0x00000000001a000000050000000000000000000000000000000000000000000000000000000000000000000000013d9bdac0ed1d761330cf680efdeb1a42159eb387d6d2950c96f7d28f61bbe2aa0000000700000000000383480000000000000000000000010000000140683f10f5e7c480142bb34ca1f3af571a4deb250000000209bedacd2021cd4c25f71ba65f3d8d64a0441324e047699f31ad53f3208f7103000000013d9bdac0ed1d761330cf680efdeb1a42159eb387d6d2950c96f7d28f61bbe2aa00000005000000003b9aca00000000010000000009bedacd2021cd4c25f71ba65f3d8d64a0441324e047699f31ad53f3208f7103000000023d9bdac0ed1d761330cf680efdeb1a42159eb387d6d2950c96f7d28f61bbe2aa00000005000000000003af440000000100000000000000007941caf36c56676a1e11579156c3512fe814a76a0000000067b504e40000000000000006000000003b9aca000000000000000000000000000000000000000000000000000000000000000000000000013d9bdac0ed1d761330cf680efdeb1a42159eb387d6d2950c96f7d28f61bbe2aa00000007000000003b9aca000000000000000000000000010000000140683f10f5e7c480142bb34ca1f3af571a4deb250000000b0000000000000000000000010000000140683f10f5e7c480142bb34ca1f3af571a4deb25'
        '422':
          description: Invalid request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                network:
                  type: string
                  example: fuji
                  enum:
                  - fuji
                  - mainnet
                  description: Avalanche network to build transaction for, mainnet or fuji
                from_address:
                  type: string
                  example: P-fuji1gp5r7y84ulzgq9ptkdx2rua02udym6e9f9u3ac
                  description: P-Chain or C-Chain address
                to_address:
                  type: string
                  example: P-fuji1gp5r7y84ulzgq9ptkdx2rua02udym6e9f9u3ac
                  description: P-Chain or C-Chain address
              required:
              - network
              - from_address
              - to_address
        required: true
  /avalanche/self_bond:
    post:
      summary: Self Bond
      tags:
      - Avalanche
      operationId: build-avalanche-self-bond-tx
      parameters: []
      responses:
        '201':
          description: transaction created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      network:
                        type: string
                        example: fuji
                        description: Avalanche network to build transaction for, mainnet or fuji
                      signing_payload:
                        type: string
                        example: 0xSigningPayload
                        description: Hex encoded payload to sign
                      unsigned_transaction_serialized:
                        type: string
                        example: 0xSerializedTransaction
                        description: Hex encoding of the built transaction
                example:
                  data:
                    network: fuji
                    unsigned_transaction_serialized: '0x7b22636f6465634964223a2230222c22766d223a2250564d222c2274784279746573223a223078303030303030303030303161303030303030303530303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303133643962646163306564316437363133333063663638306566646562316134323135396562333837643664323935306339366637643238663631626265326161303030303030303730303030303030303030303338333438303030303030303030303030303030303030303030303031303030303030303134303638336631306635653763343830313432626233346361316633616635373161346465623235303030303030303230396265646163643230323163643463323566373162613635663364386436346130343431333234653034373639396633316164353366333230386637313033303030303030303133643962646163306564316437363133333063663638306566646562316134323135396562333837643664323935306339366637643238663631626265326161303030303030303530303030303030303362396163613030303030303030303130303030303030303039626564616364323032316364346332356637316261363566336438643634613034343133323465303437363939663331616435336633323038663731303330303030303030323364396264616330656431643736313333306366363830656664656231613432313539656233383764366432393530633936663764323866363162626532616130303030303030353030303030303030303030336166343430303030303030313030303030303030303030303030303037393431636166333663353636373661316531313537393135366333353132666538313461373661303030303030303036376235303465343030303030303030303030303030303630303030303030303362396163613030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303031336439626461633065643164373631333330636636383065666465623161343231353965623338376436643239353063393666376432386636316262653261613030303030303037303030303030303033623961636130303030303030303030303030303030303030303030303030313030303030303031343036383366313066356537633438303134326262333463613166336166353731613464656232353030303030303062303030303030303030303030303030303030303030303031303030303030303134303638336631306635653763343830313432626233346361316633616635373161346465623235222c227574786f73223a5b22307830396265646163643230323163643463323566373162613635663364386436346130343431333234653034373639396633316164353366333230386637313033303030303030303233643962646163306564316437363133333063663638306566646562316134323135396562333837643664323935306339366637643238663631626265326161303030303030303730303030303030303030303361663434303030303030303030303030303030303030303030303031303030303030303134303638336631306635653763343830313432626233346361316633616635373161346465623235222c22307830396265646163643230323163643463323566373162613635663364386436346130343431333234653034373639396633316164353366333230386637313033303030303030303133643962646163306564316437363133333063663638306566646562316134323135396562333837643664323935306339366637643238663631626265326161303030303030303730303030303030303362396163613030303030303030303030303030303030303030303030303031303030303030303134303638336631306635653763343830313432626233346361316633616635373161346465623235225d2c22616464726573734d617073223a5b5b5b22307834303638336631306635653763343830313432626233346361316633616635373161346465623235222c305d5d2c5b5b22307834303638336631306635653763343830313432626233346361316633616635373161346465623235222c305d5d5d2c2263726564656e7469616c73223a5b5b2230303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030225d2c5b2230303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030225d5d7d'
                    signing_payload: '0x00000000001a000000050000000000000000000000000000000000000000000000000000000000000000000000013d9bdac0ed1d761330cf680efdeb1a42159eb387d6d2950c96f7d28f61bbe2aa0000000700000000000383480000000000000000000000010000000140683f10f5e7c480142bb34ca1f3af571a4deb250000000209bedacd2021cd4c25f71ba65f3d8d64a0441324e047699f31ad53f3208f7103000000013d9bdac0ed1d761330cf680efdeb1a42159eb387d6d2950c96f7d28f61bbe2aa00000005000000003b9aca00000000010000000009bedacd2021cd4c25f71ba65f3d8d64a0441324e047699f31ad53f3208f7103000000023d9bdac0ed1d761330cf680efdeb1a42159eb387d6d2950c96f7d28f61bbe2aa00000005000000000003af440000000100000000000000007941caf36c56676a1e11579156c3512fe814a76a0000000067b504e40000000000000006000000003b9aca000000000000000000000000000000000000000000000000000000000000000000000000013d9bdac0ed1d761330cf680efdeb1a42159eb387d6d2950c96f7d28f61bbe2aa00000007000000003b9aca000000000000000000000000010000000140683f10f5e7c480142bb34ca1f3af571a4deb250000000b0000000000000000000000010000000140683f10f5e7c480142bb34ca1f3af571a4deb25'
        '422':
          description: Invalid request
        '400':
          description: Invalid request format or validation errors
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                network:
                  type: string
                  example: fuji
                  enum:
                  - fuji
                  - mainnet
                  description: Avalanche network to build transaction for, mainnet or fuji
                from_address:
                  type: string
                  example: P-fuji1gp5r7y84ulzgq9ptkdx2rua02udym6e9f9u3ac
                  description: P-Chain address
                delegator_rewards_address:
                  type: string
                  example: P-fuji1gp5r7y84ulzgq9ptkdx2rua02udym6e9f9u3ac
                  description: P-Chain address to send delegator rewards to
                reward_address:
                  type: string
                  example: P-fuji1gp5r7y84ulzgq9ptkdx2rua02udym6e9f9u3ac
                  description: P-Chain address to send validator rewards to
                amount:
                  type: float
                  example: 10.0
                  description: Amount of AVAX to self-bond
                start:
                  type: integer
                  example: 1739568789
                  description: Unix timestamp of when the node can accept delegations
                end:
                  type: integer
                  example: 1739658796
                  description: Unix timestamp of when the node expires and will require another self-bond
                node_id:
                  type: string
                  example: NodeID-41cr9VeX852rtHrELWnHthUV4Bbm75WBY
                  description: NodeId of Validator to self-bond to
                bls_public_key:
                  type: string
                  example: '0xb8a89a87149cebd30a9da3d45dc8618389babcbda39c3d295a73d3a42b5b6f2d9c48e9875782052b61a7ded8b42b0568'
                  description: BLS public key of Validator
                bls_proof_of_possession:
                  type: string
                  example: '0x91bbaf766e386a3c93bcbb08c00dff9b0cef510f7999c68f45d4eee1c8b40c507f369a676ae7b0b880ff6f1f2df6b4ed096722ed2b675ea7e4c65a8b92961f646fe9f5b1feb018f548fa572e1bb660825377857af5750bf73ca98bda5696c752'
                  description: BLS proof of possession of Validator
                delegation_fee:
                  type: integer
                  example: 10
                  description: Delegation fee as a percentage between 2 and 100
              required:
              - network
              - from_address
              - amount
              - start
              - end
              - node_id
              - bls_public_key
              - bls_proof_of_possession
              - delegation_fee
        required: true
x-readme:
  explorer-enabled: false
  proxy-enabled: false
  headers:
  - key: x-api-key
    value: your-api-key-here
